<footer class="footer navbar-fixed-bottom">
  <div class="footerDiv">
    <br>
    <h6>&copy; 2022 | Rubens Lima</h6>
    <hr>
    <div class="icons">
      <ul>
        <li><a href="https://github.com/RubensLFerreira" target="_blank"><img style="width: 30px;" src="/icons/icons8-github-2.svg" alt=""></a></li>
        <li><a href="https://www.linkedin.com/in/rubens-lima-363526149/" target="_blank"><img style="width: 30px;" src="/icons/icons8-linkedin-48.png" alt=""></a></li>
        <li><a href="https://www.instagram.com/rubens_heisenberg/" target="_blank"><img style="width: 30px;" src="/icons/icons8-instagram.svg" alt=""></a></li>
      </ul>
    </div>
  </div>
</footer>