body {
  background-color: #eceff1;
}

.container {
  margin-bottom: 6em;
}

.btn1 {
  float: right;
  border-radius: 5px;
  border: 1px solid #7430f9;
  padding: 7px;
  margin-bottom: 5px;
}

.btn1:hover {
  color: aliceblue;
  background-color: #6820f8;
}

.btn {
  color: aliceblue;
  background-color: #7430f9;
  padding: 7px;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  color: aliceblue;
  background-color: #6820f8;
}

.tituloPerguntar {
  text-align: center;
  border-bottom: 2px solid #6820f8;
}
